<% include ../base_logged.ejs %>

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">

        <form method="POST"  action="/client/new">
            <br>
            <div class="form-field">
                <input type="text" name="name" value="" placeholder="Nome" />
            </div>
            <br>
            <div class="form-field">
                <input type="text" name="city" value="" placeholder="Cidade" />
            </div><br>

            <div class="form-field">
                <input type="text" name="phone" value="" placeholder="Telefone" />
            </div>
            <br>
            <div class="form-field">
                <input type="text" name="birth" value="" placeholder="Nascimento" />
            </div>
            <br>


            <br>
            <div class="form-buttons">
                <button type="submit" class="button">Pronto</button>
            </div>

        </form>
    </div>
</div>



</body>
</html>